# Kredensial Database Relasional PostgreSQL (Neon.tech / Supabase / RDS)
DATABASE_URL="postgresql://username:password@ep-cool-butterfly.us-east-2.aws.neon.tech/neondb?sslmode=require"

# Kunci Keamanan Token Sesi Autentikasi JWT NextAuth.js
NEXTAUTH_SECRET="f63c819a86d267926b2b73f8e5812921ba6e6a1"
NEXTAUTH_URL="http://localhost:3000"

# Integrasi Penyimpanan Bukti Foto Lapangan Cloudinary Media Storage
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"